NODE_ENV=development

APP_URL=
APP_KEY=
APP_IV=

JWT_SECRET_KEY=
JWT_TTL=

# Encryption Key Path
PUBLIC_KEY_PATH=
PRIVATE_KEY_PATH=

# Amazon Cognito Identity
COGNITO_POOL_ID=
COGNITO_CLIENT_ID=

# DB LOCAL
DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# cors origin
ALLOW_ORIGIN=

PORT=8080